.social_auth{
    color:black;
    text-decoration: none;
    transition: 0.5s all ease-in-out;
}
.social_auth:hover{
    transform: scale(1.5);
}
.more{
    text-decoration:none;
    color: gray;
}
.more:hover{
    color:violet;
}