{% extends 'base.html' %}
{% block content %}
<div class = "container">
    <h1 class = "text-center">Application No : {{Application.Application_Id}}</h1>
    <p class="text-center text-muted"><span class="date">{{Application.Date_of_Application|date:'M d, Y'}}</span>| Status : {{Application.Application_Status}}</p>
    <hr/>
    <div class="card">
        <div class="card-body">
            <div class = "row" style = "margin-bottom:20px;">
                <div class = "col-md-6">
                    <h5 class="card-text">First Name : {{Application.Name}}</h5>
                </div>
                {% if Application.Surname %}
                <div class = "col-md-6">
                    <h5 class="card-text">Surname : {{Application.Surname}}</h5>
                </div>
                {% endif %}
            </div>
            <div class = "row" style = "margin-bottom:20px;">
                <div class = "col-md-3">
                    <h5 class="card-text">Father's Name : {{Document.Father_Name}}</h5>
                </div>
                
                <div class = "col-md-3">
                    <h5 class="card-text">Mother's Name : {{Document.Mother_Name}}</h5>
                </div>
            </div>
            <div class = "row" style = "margin-bottom:20px;">
                <div class = "col-md-4">
                    <h5 class="card-text">Gender : {{Application.Gender}}</h5>
                </div>
                <div class = "col-md-4">
                    <h5 class="card-text">Date Of Birth : {{Application.Date_of_Birth}}</h5>
                </div>
                <div class = "col-md-4">
                    <h5 class="card-text">Marital Status : {{Application.Marital_Status}}</h5>
                </div>
            </div>
            <h5 class = "card-text">Residence : {{Application.House_Name}}</h5>
            <div class = "row" style = "margin-bottom:20px;">
                <div class = "col-md-4">
                    <h5 class="card-text">Place of Birth : {{Application.Place_of_Birth}}</h5>
                </div>
                <div class = "col-md-4">
                    <h5 class="card-text">State : {{Application.State}}</h5>
                </div>
                <div class = "col-md-4">
                    <h5 class="card-text">District : {{Application.District}}</h5>
                </div>
            </div>
            <div class = "row" style = "margin-bottom:20px;">
                <div class = "col-md-6">
                    <h5 class="card-text">Education: {{Application.Educational_Qualification}}</h5>
                </div>
                <div class = "col-md-6">
                    <h5 class="card-text">Employment Type : {{Application.Employment_Type}}</h5>
                </div>
            </div>
            <div class = "row" style = "margin-bottom:20px;">
                <div class = "col-md-5">
                    <h5 class="card-text">Citizenship of India by: {{Application.Citizenship_of_India}}</h5>
                </div>
                <div class = "col-md-6">
                    <h5 class="card-text">Is Applicant Eligible for Non-ECR Category ?  {% if Application.Non_ECR_Category %}Yes{% else %}No{% endif %}</h5>
                </div>
            </div>
            <div class = "row" style = "margin-bottom:20px;">
                <div class = "col-md-6">
                    <h5 class="card-text">Is either of your parent (in case of minor)/spouse, a government servant ? {% if Application.Government_Servant %}Yes{% else %}No{% endif %}</h5>
                </div>
                <div class = "col-md-4">
                    <h5 class="card-text">Type of Passport Applied : {{Application.No_of_Pages}} Pages</h5>
                </div>
            </div>
            <div class = "row" style = "margin-bottom:20px;">
                <div class = "col-md-6">
                    <h5 class="card-text">PAN Number : {{Application.PAN }}</h5>
                </div>
                <div class = "col-md-6">
                    <h5 class="card-text">Aadhaar Number : {{Application.Aadhaar_Number }}</h5>
                </div>
            </div>
            <h4 class = "card-text">Documents and Contact Details</h4>
            <hr/>
            <div class = "row">
                {% if Document.Email_ID %}
                    <div class = "col-md-4">
                        <h5 class="card-text">Email ID : {{Document.Email_ID }}</h5>
                    </div>
                {% endif %}
                <div class = "col-md-4">
                    <h5 class="card-text">Mobile Number : {{Document.Mobile_Number }}</h5>
                </div>
                {% if Document.Telephone_Number %}
                <div class = "col-md-4">
                    <h5 class="card-text">Telephone Number : {{Document.Telephone_Number}}</h5>
                </div>
                {% endif %}
            </div>
            <h5><a class = "custom_link" href = "{{Document.Certificate.url}}">Birth Certificate/Marriage Certificate</a></h5>
            <h5><a class = "custom_link" href = "{{Document.Educational_Certificate.url}}">Educational Certificate</a></h5>
            <h5><a class = "custom_link" href = "{{Document.PAN.url}}">PAN Card</a></h5>
            <h5><a class = "custom_link" href = "{{Document.Aadhaar_Card.url}}">Aadhaar Card</a></h5>
            {% if Document.Voter_ID %}
            <h5><a class = "custom_link" href = "{{Document.Voter_ID.url}}">Voter ID</a></h5>
            {% endif %}
            <h5><a class = "custom_link" href = "{{Document.Signature.url}}">Signature</a></h5>
        </div>
    </div>
    <div class = "d-inline-block py-2">
        <form method = "POST" action = "{% url 'approval_confirmation' Application.id Application.slug %}" style = "margin-bottom:20px;">
            {% csrf_token %}
            <button class = "btn btn-outline-success" type = "submit">Approve</button>
        </form>
        <form method = "POST" action = "{% url 'cancellation_confirmation' Application.id Application.slug %}">
            {% csrf_token %}
            <button class = "btn btn-outline-danger" type = "submit">Cancel</button>
        </form>
    </div>
    <a class = "btn btn-outline-success" href = "{% url 'dashboard' %}">Go Back</a>
</div>
{% endblock %}